# List

In [1]:
L1=[1,2,4]
L2=[7,8,9]

In [2]:
L1+L2

[1, 2, 4, 7, 8, 9]

In [3]:
L1.extend(L2)

In [4]:
L1

[1, 2, 4, 7, 8, 9]

In [5]:
L1.pop()

9

In [6]:
L1.pop(2)

4

In [7]:
L1.remove(8)

In [8]:
L1

[1, 2, 7]

In [9]:
L1.append(57)
print(L1)

[1, 2, 7, 57]

In [10]:
li=L1.copy()

In [11]:
li

[1, 2, 7, 57]

In [17]:
li.count(2)

1

In [14]:
li.sort()

In [15]:
li

[1, 2, 7, 57]

In [16]:
sorted(li)

[1, 2, 7, 57]

In [26]:
li.insert(10,45)

In [25]:
li

[1, 2, 7, 57, 45, 45, 45, 45]

In [27]:
li=[1,2,3.4]

In [28]:
li

[1, 2, 3.4]

In [29]:
li.insert(6,35)

In [32]:
li

[1, 2, 3.4, 35]

# TUPLES

In [33]:
t=(1,2,3,4,5)
t1=(5,7,8)

In [34]:
t+t1

(1, 2, 3, 4, 5, 5, 7, 8)

# sets

In [38]:
s={1,2,3,4,5,5,6,7,8,9,10}

In [39]:
set(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

s1={1,5,7}

In [40]:
s1={1,5,7}

In [41]:
s2={8,7,5}

In [43]:
s1.intersection(s2)

{5, 7}

# tasks

In [6]:
L1=[1,2,3,4,5,6]
L2=[]

In [7]:
L1 + L2

[1, 2, 3, 4, 5, 6]

In [9]:
s1=[4,5,6,7,8]
s2=[4,1,9,0,6]
s1.sort()
print("acending order:",s1)
s2.sort()
print("decending order:",s2)

acending order: [4, 5, 6, 7, 8]
decending order: [0, 1, 4, 6, 9]

In [22]:
s1=[1,3.4,8,9,10]
sum_1=sum(s1)
avg=sum_1/len(s1)
print("sum is :",sum_1,"avg is:",avg)

sum is : 31.4 avg is: 6.279999999999999

In [29]:
t=(1,8,77,8)
t1=[]
for i in range(len(t)-1,-1,-1):
    t1.append(t[i])
print(tuple(t1))

(8, 77, 8, 1)

In [30]:
t=("rakesh","yash","rama")
for i in t:
    print(i)

rakesh
yash
rama

In [35]:
s={3,4,7}
s1={6,7,8}
i=s.union(s1)
print("the union value:",i)
print("difference is:",s.difference(s1))
print("intersection is:",s.intersection(s1))
print("symmetric difference is:",s.symmetric_difference(s1))

the union value: {3, 4, 6, 7, 8}
difference is: {3, 4}
intersection is: {7}
symmetric difference is: {3, 4, 6, 8}